
body
{
	width: 1000px;
	margin: auto;
	
	background-color: #fad7f3;
	text-align: center;
	font-family: Comfortaa;
	color: Indigo;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1
{
	font-size: 4em;
	margin-bottom: 0;
	text-shadow: 0 0 5px whitesmoke;
    border-bottom: 4px dotted whitesmoke;
}

h2
{
    font-size : 2em;
	margin-top: 2%;
    border-bottom: 1px dashed whitesmoke;
	text-align: left;
	margin-bottom: 1%;
	text-shadow: 0 0 1px whitesmoke;
}
h3
{
    font-size : 1.4em;
    margin-top: 1.5em;
	text-align: left;
	margin-bottom: 0;
	text-shadow: 0 0 1px whitesmoke;
}

h4 
{
    text-align: center;
}

p
{
	margin-left:1%;
	margin-right: 1%;
    margin-top: 0.5em;
	text-align: justify;
	font-size: 1.1em;
}


[formula]
{
	text-align: left;
	font-size: 150%;
}
[belowFormula]
{
    text-align: left;
	font-size: 120%;
}

.img1
{
	border: solid 1px whitesmoke;
	box-shadow: 0 0 5px 0px whitesmoke;
	float:right;
	margin-left : 10%;
	margin-right: 10%;
	margin-bottom: 1%;
}

.img2
{
	border: solid 1px whitesmoke;
	box-shadow: 0 0 5px 0px whitesmoke;
	float:left;
	margin-left : 1%;
	margin-right:  5%;
	margin-top:1%;
	margin-bottom : 2%;
}

.navigation
{
	background-color: #e8b0e7;
	overflow:hidden;
	opacity: 0.5;
}

.navigation a
{
	float:left;
	color:indigo;
	text-align: center;
	padding: 1% 2% 1% 1%;
	text-decoration: none;
	font-size: 1.5em;
}

.navigation a:hover
{
	background-color: #e17ff5;
	color:whitesmoke;
}

.navigation a:active
{
	background-color: lavender;
	color:indigo;
}

.lesson1
{
	float:left;
	margin-bottom:3%;
}

.lesson2
{
	float:right;
}
ul li
{
	text-align:left;
}

canvas, .block
{
	display: block;
	margin: 0.5em auto 0 auto;
	border: dotted 1px indigo;
	box-shadow: 0 0 25px 0px indigo;
	background-color: #e8b0e7;
}
.value {
	text-align: left;
	display: inline-block;
	width: 2.5em;
	color:#e17ff5;
}

.label {
	position:absolute;
	font-size: 1.5em;
	font-family: Comfortaa;
	font-weight: bold;
	color: #e17ff5;
	text-shadow:
		-1px -1px 0 Black,
		 1px -1px 0 Black,
		-1px  1px 0 Black,
		 1px  1px 0 Black;
	background-color:transparent;
	z-index:10;
	pointer-events: none;
}